---
layout: default
---
<input id="search" placeholder="filter" type="text"/>

<ul>
{% for session in site.sessions %}
    <li id="{{session.title | slugify}}" class="session-item"><p><a href="{{ session.url | relative_url }}">{{ session.title }}</a></p></li>
{% endfor %}
</ul>
Send pull requests on our <a href="https://github.com/ProAgileAB/short-learning-sessions">github page</a>

<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2"></script>
<script lang="javascript">
    let sessions = [
        {% for session in site.sessions %}
            { "title": {{ session.title | jsonify }} 
            , "content": {{ session.content | strip_html | escape | jsonify }} 
            },
        {% endfor %}
    ];
    let mapFromIdToTitle = {
        {% for session in site.sessions %}
        "{{session.title | slugify}}": "{{session.title}}",
        {% endfor %}
    }
    let fuse = new Fuse(sessions, {keys: ["title", "content"]});
    function search(e) {
        let value = e.target.value;
        if (value) {
            let result = fuse.search(value);
            let toShow = result.map(r => r.item.title)
            document.querySelectorAll(".session-item").forEach(element => {
                if (toShow.includes(mapFromIdToTitle[element.id])) {
                    element.style = ""
                } else {
                    element.style = "display: none;"
                }
            });
        } else {
            document.querySelectorAll(".session-item").forEach(element => {
                element.style = ""
            });
        }
    }
    document.getElementById("search").addEventListener('input', search)
</script>